@font-size: 14px;
@line-height: 16px;
@color: #333;

@default-color: #fff;
@padding: .8em;
@padding-bigger: 1em;
@box-shadow-color: rgba(153, 153, 153, 0.2);
@color-disabled: #c0c4cc;
@color-placeholder: #ccc;
@bg-color-disabled: #f5f7fa;
@min-height: 38px;
@transition-duration: 0.2s;

.base-font(@font-size: @font-size, @line-height: @line-height, @color: @color) {
    font-size: @font-size;
    line-height: @line-height;
    color: @color;
}
.flex(@justify-content: flex-start, @align-items: flex-start) {
    display: flex;
    justify-content: @justify-content;
    align-items: @align-items;
}

@button-bg: #fff;
@button-border: 1px;

@input-border: 1px;


@border-radius: 4px;
@border-color: #dcdfe6;
@border-color-hover: #c0c4cc;
@border-color-focus: #999;
@border-color-disabled: #f5f7fa;

